$main: #1A77F2;
$white: white;
$black: #2B3037;
$background: #F9F9F9;
$light-grey: #E8E8EA;
$grey: #A5A3A9;

$desktop-w: 1440px;
$desktop-h: 850px;
$tablet-w: 1024px;
$mobile: 680px;

$transition-animation: ease .3s;

$padding-v: 4em;
$padding-h: 5em;

$search-height: 5.2em;


html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	padding: 0;
}

#root {
	display: flex;
	margin: 0;
	height: 100%;
	padding: 0;
	overflow: hidden;
	font-size: 62.5%; // 10px


	@media (max-height: $mobile) {
		min-height: max-content;
		overflow-y: scroll;
	}
}

img, object {
	user-select: none;
}



/*=============================================
=            Left Side            =
=============================================*/


.today-weather {
	position: relative;
	min-width: 52em;
	min-height: 100%;
	padding: $padding-v $padding-h;
	background-color: $main;
	transition: min-width $transition-animation, padding $transition-animation;
	color: $background;

	@media (max-height: $mobile) {
		min-height: 58em;
	}

	*::selection
	{
		background-color: $white;
		color: $main;
	}

	h1 {
		margin: 0;
		padding: 0;
		transition: font-size $transition-animation;
		font-size: 4em;
	}
}

.city-overview {
	display: flex;
	flex-direction: column;
	margin-bottom: 12.2em;
	transition: margin-bottom $transition-animation;
	row-gap: 1em;

	time {
		transition: font-size $transition-animation;
		line-height: 1.375em;
		font-size: 2.4em;
	}
}

.city-search {
	$search-width: 34.5em;

	position: absolute;
	right: -$search-width - $padding-h;
	transition: right $transition-animation;

	& > input {
		box-sizing: border-box;
		width: calc($search-width / 1.4);
		height: 3.7em;
		padding: 0.57em 1.14em;
		outline-color: $grey;
		border: 1px solid $light-grey;
		border-radius: 18px;
		background: $white;
		color: $main;
		font-size: inherit;
		font-size: 1.4em;
	}
}

.today-forecast {
	display: flex;
	flex-direction: column;
	transition: row-gap ease .3s;
	row-gap: 12.2em;
}

.today-forecast_main {
	display: flex;
	align-items: center;
	column-gap: 2.4em;
	transform: translateX(-2em);
	transition: column-gap $transition-animation;
}

.today-forecast_img {

	object, img {
		width: 22.4em;
		height: 22.4em;
		pointer-events: none;
	}
}

.today-forecast_temperature {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
}

.today-forecast_temperature-value {
	transition: font-size $transition-animation;
	line-height: 1.35em;
	font-size: 8em;
	font-weight: 600;
}

.today-forecast_perceived-temperature {
	transition: font-size $transition-animation;
	line-height: 1.35em;
	font-size: 2em;
}

ul.today-forecast_params {
	display: grid;
	padding: 0;
	list-style-type: none;
	transition: row-gap $transition-animation;
	grid-template-columns: 1fr auto;
	row-gap: 3em;

	& > li:nth-child(5) {
		max-width: unset;
		grid-column: 1/3;
	}
}

li.today-forecast_parameter {
	display: flex;
	align-items: center;
	column-gap: 1em;
	max-width: 20em;
	height: 4em;
}

.today-forecast-parameter-name {
	width: min-content;
	line-height: 1.39em;
	word-wrap: break-word;
	font-size: 1.8em;
	font-weight: 400;
}

.today-forecast-parameter-value {
	transition: font-size $transition-animation;
	line-height: 1.35em;
	font-size: 3em;
	font-weight: 700;
}



/*----------  Left Side: Tablet  ----------*/


@media (max-width: $desktop-w), (max-height: $desktop-h) {
	$padding-v: 3em;
	$padding-h: 3.5em;

	.today-weather {
		min-width: 42em;
		padding: $padding-v $padding-h;

		h1 {
			font-size: 3em;
		}
	}

	.city-search {
		$search-width: 34.5em;
	
		right: -$search-width - $padding-h;
	}

	.city-overview {
		margin-bottom: 2.7em;

		time {
			font-size: 2em;
		}
	}

	.today-forecast {
		row-gap: 2.7em;
	}

	.today-forecast_main {
		column-gap: 2em;
	}

	.today-forecast_img {

		object, img {
			width: 21.2em;
			height: 21.2em;
		}
	}

	.today-forecast_temperature-value {
		font-size: 6em;
	}

	.today-forecast_perceived-temperature {
		font-size: 1.8em;
	}
	
	ul.today-forecast_params {
		row-gap: 3.4em;
	}

	li.today-forecast_parameter {
		height: 3.5em;
	}
	
	.today-forecast-parameter-name {
		font-size: 1.6em;
	}
	
	.today-forecast-parameter-value {
		font-size: 2.6em;
	}
}


/*----------  Left Side: Mobile  ----------*/


@media (max-width: $tablet-w), (max-height: $mobile) {
	$padding-v: 2em;
	$padding-h: 2em;

	.today-weather {
		min-width: 35em;
		padding: $padding-v $padding-h;

		h1 {
			font-size: 2em;
		}
	}

	.city-search {
		$search-width: 34.5em;
	
		right: -$search-width - $padding-h;
	}

	.city-overview {
		margin-bottom: 1em;

		time {
			font-size: 1.8em;
		}
	}

	.today-forecast {
		row-gap: 2em;
	}

	.today-forecast_main {
		column-gap: 1.4em;
	}

	.today-forecast_img {

		object, img {
			width: 20em;
			height: 20em;
		}
	}

	.today-forecast_temperature-value {
		font-size: 4em;
	}

	.today-forecast_perceived-temperature {
		font-size: 1.4em;
	}

	ul.today-forecast_params {
		row-gap: 3.8em;
	}

	li.today-forecast_parameter {
		height: 2.7em;
	}
	
	.today-forecast-parameter-name {
		font-size: 1.4em;
	}
	
	.today-forecast-parameter-value {
		font-size: 2em;
	}
}

@media (max-width: $mobile) {
	div.today-weather {
		width: calc( 100% - 4em );
		min-height: 67em;

		ul.today-forecast_params {
			grid-template-columns: 19em 18em;
		}

		.city-search {
			position: static;
			margin-bottom: 5.3em;

			& > input {
				width: 100%;
			}
		}
	}

	div.weekly-forecast {
		position: absolute;
		top: min(66em, calc(100% - 10em));
		width: 100%;
		height: calc(100% - 24em);
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;

		&::before {
			position: absolute;
			top: 1.7em;
			left: calc(50% - 20px);
			width: 40px;
			height: 5px;
			border-radius: 2.5px;
			background-color: $light-grey;
			content: "";
		}

		.weekly-forecast-overview {
			margin-top: 4em;
		}

		.weather-map-section {
			height: calc(100% - 30em);
		}
	}
}



/*=============================================
=                Right Side                =
=============================================*/

.weekly-forecast {
	box-sizing: border-box;
	width: calc(100% - 62em);
	padding: $padding-v $padding-h;
	padding-right: 0;
	background-color: $background;
	transition: width $transition-animation, padding $transition-animation;
	color: $black;

	h2 {
		margin: 0;
		margin-bottom: 1.25em;
		padding: 0;
		transition: font-size $transition-animation;
		font-size: 2.4em;
	}

	& > section {
		margin-top: 7em;
		transition: margin-top $transition-animation;
	}

	.weekly-forecast-overview {
		margin-top: 7em + $search-height;
		transition: margin-top $transition-animation;
	}

	*::selection
	{
		background-color: $grey;
		color: $white;
	}
}

ul.weekly-forecast_week-list {
	display: flex;
	max-width: 100%;
	padding: 0;
	overflow-x: auto;
	list-style: none;

	&::-webkit-scrollbar
	{
		display: none;
	}

	.weather-card {
		margin-right: 2.6em;
		transition: margin-right $transition-animation;
	}
}



/*----------  Right Side: Tablet  ----------*/


@media (max-width: $desktop-w), (max-height: $desktop-h) {
	$padding-v: 3em;
	$padding-h: 3.5em;

	.weekly-forecast {
		$search-height: 5.2em;
	
		width: calc(100% - 49em);
		padding: $padding-v $padding-h;
		padding-right: 0;

		h2 {
			font-size: 2em;
		}
	
		& > section {
			margin-top: 6.4em;
		}
	
		.weekly-forecast-overview {
			margin-top: 6.4em + $search-height;
		}
	}

	ul.weekly-forecast_week-list {
		.weather-card {
			margin-right: 2.4em;
		}
	}
}


/*----------  Right Side: Mobile  ----------*/

@media (max-width: $tablet-w), (max-height: $mobile) {
	$padding-v: 2em;
	$padding-h: 2em;

	.weekly-forecast {
		$search-height: 5.2em;
	
		width: calc(100% - 39em);
		min-height: 62em;
		padding: $padding-v $padding-h;
		padding-right: 0;

		h2 {
			font-size: 1.6em;
		}
	
		& > section {
			margin-top: 4em;
		}
	
		.weekly-forecast-overview {
			margin-top: 5.5em + $search-height;
		}
	}

	ul.weekly-forecast_week-list {
		.weather-card {
			margin-right: 2em;
		}
	}
}

/*----------  Weather Card  ----------*/


li.weather-card {
	display: flex;
	align-items: center;

	flex-direction: column;
	min-width: min-content;
	padding: 2em 1.7em;
	border: 1px solid $light-grey;
	border-radius: 3.6em;
	background-color: $white;
	row-gap: 2em;
}

.weather-card_header {
	display: flex;
	align-items: center;
	width: max-content;
	line-height: 1.35em;
	font-size: 1.6em;

	.shortWeek {
		text-transform: capitalize;
	}
}

.weather-card_img {
	position: relative;
	width: 3.8em;
	height: 3.8em;

	object, img {
		position: absolute;
		top: -32%;
		right: -32%;
		width: 163%;
		height: 163%;
		pointer-events: none;
	}
}

.weather-card_temperature {
	display: flex;
	align-items: center;
	column-gap: 1em;
}

.weather-card_real_temperature {
	line-height: 1.35em;
	color: $main;
	font-size: 3em;
	font-weight: 700;
}

.weather-card_perceived-temperature {
	display: flex;
	flex-direction: column;
	color: $grey;
	font-weight: 600;
}

.weather-card_perceived-temperature-label {
	line-height: 1.35em;
	font-size: 1.2em;
}

.weather-card_perceived-temperature-value {
	line-height: 1.35em;
	font-size: 1.4em;
}


.weather-card_params {
	display: flex;
	column-gap: 1em;
}

.weather-card_parameter {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.weather-card_parameter-name {
	color: $grey;
	font-size: 1.4em;
	font-weight: 600;
}

.weather-card_parameter-value {
	font-size: 1.8em;
}

/*----------  Weather Card: Tablet  ----------*/

@media (max-width: $desktop-w), (max-height: $desktop-h) {
	li.weather-card {

		.weather-card_img {
			width: 3em;
			height: 3em;
		}

		.weather-card_header {
			font-size: 1.4em;
		}

		.weather-card_real_temperature {
			font-size: 2.4em;
		}

		.weather-card_parameter-name {
			font-size: 1.2em;
		}

		.weather-card_parameter-value {
			font-size: 1.4em;
		}

	}
}

/*----------  Map  ----------*/

.weather-map-section {
	height: calc(100% - 45.5em);
	padding-right: $padding-h;
}

.weather-map {
	width: 100%;
	height: calc(100% - 6.3em);
	border: 1px solid $light-grey;
	border-radius: 1.8em;
	background-color: $white;
}

/*----------  Map: Tablet  ----------*/

@media (max-width: $desktop-w), (max-height: $desktop-h) {
	$padding-h: 3.5em;

	.weather-map-section {
		height: calc(100% - 39em);
		padding-right: $padding-h;
	}

	.weather-map {
		height: calc(100% - 6.3em);
	}

}

/*----------  Map: Mobile  ----------*/

@media (max-width: $tablet-w), (max-height: $mobile) {
	$padding-h: 2em;

	.weather-map-section {
		height: calc(100% - 32em - $search-height);
		padding-right: $padding-h;
	}

	.weather-map {
		height: calc(100% - 3.4em);
	}

}